#landing{
	border-top:0.2em dashed #ffe2f0;
	border-bottom:0.2em dashed #BFD8D2;
}

.jumbotron{
	background-color: #ffe2f0 !important;
}

.textwidget p{
	text-align: justify;
	font-size: 17px !important;
}

#whatsapp{
	border: 0.1em solid #ffd6de;
	padding: 10 50;
	background-color: #fc1947;
	color: #ffffff;
}

#layanan{
	background-color: #BFD8D2 !important;
	color : #DF744A;
}
#layanan .header-layanan{
	font-weight: bold;
	border-bottom: 0.1em solid #DF744A;
	margin-bottom: 30px;
	padding:10 15;
}


.heading-promo p{
	padding : 20px 15px !important;
	font-size: 40px !important;
	text-align: center;
}

.thumbnail{
	min-height: 380px;
}
.thumbnail > img{
	height: 165px;
}

.img-jumbotron img {
    display: block;
    max-width: 100% !important;
    height: auto !important;
}

.caption > h3{
	margin-top: 5px;
}

#whatsapp > a, a:hover{
	text-decoration: none;
	color: #cccccc;
}

.button-contact{
	background-color: #fc1947 !important;
	color: #ffd6de;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    color: #ffffff !important;
    background-color: #fc1947 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: #ffd6de !important;
}

a {
    color: #111111;
    text-decoration: none;
}

.mynavbar-brand {
    float: left;
    padding: 8px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

/*Price list*/

.big-price span{
	color: #333;
	font-size:40px;
}

.btn-price{
    background-color:#5db4c0;
    color: #fff;
    border-radius:50%; 
	border:none;
    padding:40px 20px; 
    font-size: 13px;
	font-weight: 600;
	margin-top:20px;
}

.prices-box{
	margin:20px 0px;
}

.top-content{
	background-color:#4d4d4d;
	padding:20px;
}

.bottom-content{
	background-color:#f6f6f6;
	padding:60px;
}

#prices h3{
	color:#FFF;
}

#prices .features li{
	padding:10px;
}

#prices .btn.btn-default{
	margin:20px 0px;
}

#prices .features-border li{
	border-top:1px solid #c7c7c7;
	padding: 10px 0px;
}

#prices .features-border li:last-child{
	border-bottom:1px solid #c7c7c7;
}